@use './variables' as *;
@use './card';

.main-container {
  background-image: url(../../assets/images/space-background.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}
