@use "./variables" as *;
@use "./mixins" as *;
@use "./card";

.main {
  &__container {
    background-image: url(../../assets/images/space-background.png);
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem;
    letter-spacing: 2px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 75%;

    color: $primary-font-color;
  }
  &__title {
    color: #43a5cf;
    font-size: 0.75rem;
    margin-top: 30rem;
    margin-bottom: 30rem;

    @include tablet {
      font-size: 1.5rem;
      margin-top: 50rem;
      margin-bottom: 50rem;
    }
  }
  &__text-body {
    text-align: center;
    letter-spacing: 2px;
    @include tablet {
      font-size: 2rem;
      width: 70%;
    }
    @include desktop {
      width: 50%;
    }
  }
}
