@font-face {
  font-family: SF-distant;
  src: url(../assets/font/SF\ Distant\ Galaxy.ttf), format ("ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: SF-distant;
  src: url(../../assets/font/SF\ Distant\ Galaxy\ Italic.ttf), format ("ttf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: SF-distant-symbol;
  src: url(../../assets/font/SF\ Distant\ Galaxy\ Symbols.ttf), format ("ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: SF-distant-Outline;
  src: url(../../assets/font/SF\ Distant\ Galaxy\ Outline.ttf), format ("ttf");
  font-style: normal;
  font-weight: 400;
}
